<div class="container">
	<h1>Register</h1>
		<% if flash[:errors_register] %>
			<p>Please correct the following errors:</p>
			<% flash[:errors_register].each do |error| %>
				<p class='error'><%= error %></p>
			<% end %>
		<% end %>

<div class="Registration">
    <form action="/users" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="user[first_name]" placeholder="first_name"/>
        <input type="text" name="user[last_name]" placeholder="last_name"/>
        <input type="text" name="user[email]" placeholder="email"/>
        <input type="text" name="user[password]" placeholder="password"/>
        <input type="text" name="user[password_confirmation]" placeholder="password_confirmation"/>
        <input type="submit" value="Register"/>
    </form>
</div>

<h2>Login</h2>
<div class="Login">
    <form action="/sessions" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <p>
            <label>Email</label>
            <input type="text" name="email">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <input type="submit" value="Login">
    </form>
</div>