<div class="container">
		<% if flash[:errors_register] %>
			<p>Please correct the following errors:</p>
			<% flash[:errors_register].each do |error| %>
				<p class='error'><%= error %></p>
			<% end %>
		<% end %>

<%= link_to 'Go to All Products', items_path %>
<%= link_to 'Logout', sessions_path(current_user), method: :delete, class: 'btn btn-primary'%>

<div class="sell_product">
    <h3>Sell Product</h3>
    <form action="/items" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="item[product]" value="Name">
        <input type="text" name="item[amount]" value="Amount">
        <input type="submit" value="Sell">

</div>

<h3>Your products that that are not yet sold:</h3>
<div class="unsold">
	<table>
		<thead>
			<tr>
				<th>Product</th>
                <th>Date Posted</th>
				<th>Amount</th>
                <th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @unsold.each do |u| %>
				<tr>
					<td><%= u.product %></td>
					<td><%= u.date_posted %></td>
                    <td><%= u.amount %></td>
					<td>
						<a href="/destroy">Remove</a>
					</td>
				</tr>
			<% end %>	
		</tbody>
	</table>
</div>

<h3>Sales</h3>
<div class="sales">
	<table>
		<thead>
			<tr>
				<th>Product</th>
                <th>Date Bought</th>
                <th>Buyer</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<% @sales.each do |s| %>
				<tr>
					<td><%= s.product %></td>
					<td><%= s.date_posted %></td>
                    <td><%= s.seller %></td>
                    <td><%= s.amount %></td>
				</tr>
			<% end %>	
		</tbody>
	</table>
</div>

<h3>Purchases</h3>
<div class="purchases">
	<table>
		<thead>
			<tr>
				<th>Product</th>
                <th>Date Bought</th>
                <th>Seller</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<% @purchases.each do |p| %>
				<tr>
					<%# <td><%= p.product %></td> 
					<td><%= p.date_bought %></td>
                    <%# <td><%= p.seller %></td> 
                    <%# <td><%= p.amount %></td> 
				</tr>
			<% end %>	
		</tbody>
	</table>
</div>