<div class="container">
		<% if flash[:errors_register] %>
			<p>Please correct the following errors:</p>
			<% flash[:errors_register].each do |error| %>
				<p class='error'><%= error %></p>
			<% end %>
		<% end %>

<%= link_to 'Go to Dashboard', purchases_path %>
<%= link_to 'Logout', sessions_path(current_user), method: :delete, class: 'btn btn-primary'%>

<h1>Hello <%= @first_name %> ! </h1>

<h3>All Products</h3>
<div class="products">
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th>Seller</th>
                <th>Date Posted</th>
				<th>Amount</th>
                <th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |i| %>
				<tr>
					<td><%= i.product %></td>
					<td><%= i.seller %></td>
					<td><%= i.date_posted %></td>
                    <td><%= i.amount %></td>
					<td>
						<a href="/purchases/add">Buy</a>
					</td>
				</tr>
			<% end %>	
		</tbody>
	</table>
</div>






